{% extends 'base.html' %}
{% load static %}

{% block title %}Ivan Raymond{% endblock %}

{% block content %}

    <section>

        <div class="a-container">
            <div class="row contained">
                <div class="col-4">
                    <img style="width: 25vw;" src="{% static 'images/me.png' %}" alt="Picture of Ivan Raymond">
                </div>
                <div class="col align-self-center">
                    <h2 id="title-name" class="title-name">I'm Ivan Raymond</h2>
                </div>
            </div>
        </div>
        <br>
	</section>



	<section>
        <div class="container">
            <div class="section-title text-center mb-5">
                <span class="sub-title mb-2 d-block">ABOUT ME</span>
                <h2 class="title text-primary">But who is Ivan ?</h2>
            </div>
            <div>
                {{ bio.body | safe }}
            </div>
            <div class="button-container">
                {% if bio.resume %}
                    <a class="resume" href="{{ bio.resume.url }}" download="{{ bio.resume.url }}">
                        <button class="btn btn-teal text">Resume 📄</button>
                    </a>
                {% endif %}
            </div>
        </div>
        <br>
	</section>



    <section class="syntax-highlighting">
        <br>
        <div class="container">
            <div class="section-title text-center mb-5">
                <span class="sub-title text mb-2 d-block">COMPETENCIES</span>
                <blockquote class="blockquote">
                    <h2 class="title text">“The interaction of knowledge and skills with experience is key to learning“</h2>
                    <footer class="blockquote-footer">John Dewey</footer>
                </blockquote>
            </div>
            <br>
            <span class="text">Soft_Skills </span><span class="operator">=</span><span class="text"> [</span>
            <br><br>
            {% for softSkill in bio.softSkill.all %}
            <p style="margin-left:40px" class="value">"{{ softSkill }}",</p>
            {% endfor %}
            <p class="text">]</p>

            <span class="text">Skills </span><span class="operator">=</span><span class="text"> [</span>
            <br><br>
            {% for skill in bio.skill.all %}
            <p style="margin-left:40px" class="value">"{{ skill }}",</p>
            {% endfor %}
            <p class="text">]</p>

            <span class="identifier font-italic">class</span><span class="class"> Acquired</span><span class="text">:</span>
            <br><br>
            <span style="margin-left:40px" class="identifier font-italic">def</span>
            <span class="identifier font-italic">&nbsp;__init__</span>
            <span class="text">(</span>
            <span class="parameter">self</span>
            <span class="text">, </span>
            <span class="parameter">Skills</span>
            <span class="text">, </span>
            <span class="parameter">Soft_Skills</span>
            <span class="text">):</span>
            <br>
            <span style="margin-left:80px" class="parameter">self</span>
            <span class="text">.Skills</span>
            <span class="operator"> = </span>
            <span class="text">Skills</span>
            <br>
            <span style="margin-left:80px" class="parameter">self</span>
            <span class="text">.Soft_Skills</span>
            <span class="operator"> = </span>
            <span class="text">Soft_Skills</span>
            <br><br>
            <span class="text">I</span>
            <span class="operator"> = </span>
            <span class="identifier">Acquired</span>
            <span class="text">(Skills, Soft_Skills)</span>
        </div>
        <br><br>
	</section>



	<section class="s1">
        <br>
        <div class="container">

            <div class="row mb-5">
                <div class="col-lg-6 section-title">
                    <span class="sub-title mb-2 d-block">FEATURED PROJECTS</span>
                    <blockquote class="blockquote">
                    <h2 class="title text-primary">“Practice does not make perfect. Only perfect practice makes perfect.”</h2>
                    <footer class="blockquote-footer">Vince Lombardi</footer>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 ml-auto">
                    <div class="row">
                        {% for project in projects %}
                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                                <div class="service h-100">
                                    <h3>{{ project.title }}</h3>
                                    <p>{{ project.projectResume }}</p>
                                    <p><a href="{% url 'base:project_detail' project.slug %}" class="readmore">Learn more</a></p>

                                    {% if request.user.is_authenticated %}
                                        | <a href="{% url 'base:update_project' project.slug %}">Edit</a>
                                        | <a href="{% url 'base:delete_project' project.slug %}">Delete</a>
                                    {% endif %}
                                    <hr>
                                    {% for tag in project.tags.all %}
						                <span class="tag">{{tag}}</span>
					                {% endfor %}
                                </div>
                            </div>
				        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <p align="center">
            <a href="{% url 'base:projects' %}">View More</a>
        </p>
        <hr>
	</section>

    <section class="container">
        <br>
        <div class="links-container">
            <div class="section-title text-center mb-5">
                <span class="sub-title mb-2 d-block">LINKS</span>
                <blockquote class="blockquote">
                    <h2 class="title text-primary">“You are what you share.”</h2>
                    <footer class="blockquote-footer">Charles Leadbeater</footer>
                </blockquote>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 ml-auto">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mb-3 mb-lg-3">
                            <div class="h-100">
                                <h3>LinkedIn</h3>
                                <p><a target="_blank" href="https://www.linkedin.com/in/ivanraymond" class="readmore">Connect</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3 mb-lg-3">
                            <div class="h-100">
                                <h3>Twitter</h3>
                                <p><a target="_blank" href="https://twitter.com/AlexandreRaym" class="readmore">Follow</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3 mb-lg-3">
                            <div class="h-100">
                                <h3>Github</h3>
                                <p><a target="_blank" href="https://github.com/Alexandre1999" class="readmore">Follow</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3 mb-lg-3">
                            <div class="h-100">
                                <h3>Keeb&Code Blog</h3>
                                <p><a target="_blank" href="https://keebcode.com/" class="readmore">Read</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
    <hr>

    <section class="s2">
        <br>
		<div class="main-container">
			<div class="section-title text-center mb-5">
                <span class="sub-title mb-2 d-block">GET IN TOUCH</span>
                <h2 class="title text-primary">Contact Me</h2>
            </div>
            <br>

			<form id="contact-form" method="POST" action="{% url 'base:send_email' %}">
				{% csrf_token %}
				<a name="contact"></a>

				<label>Name</label>
				<input required class="input-field" type="text" name="name">

				<label>Subject</label>
				<input required class="input-field" type="text" name="subject">

				<label>Email</label>
				<input required class="input-field" type="email" name="email">

				<label>Message</label>
				<textarea required class="input-field" name="message"></textarea>

                <button class="submit-btn btn btn-teal center" type="submit" value="Send">Send</button>
			</form>

		</div>
	</section>


{% endblock content %}

{% block script %}
    <script>

        var done = false;
        var typed;
        $(window).scroll(function () {
            if ($(this).scrollTop() > 6 && done === false) {

                done = true;
                var text = document.querySelector(".title-name");
                $(".title-name").fadeOut("slow", function () {});
                text.innerHTML="";
                text.classList.add("typed");
                $(".title-name").fadeIn("slow", function () {});
                type();
            }

            if ($(this).scrollTop() < 6 && done === true) {

                done = false;
                var text = document.querySelector(".title-name");
                $(".title-name").fadeOut("slow", function () {});
                typed.destroy();
                text.innerHTML="I'm Ivan Raymond";
                $(".title-name").fadeIn("slow", function () {});
            }
        });

        function type() {
            var options = {
                strings: ['I\'m an Innovator ^300', 'I\'m a Dreamer ^300', 'I\'m a Developer ^300'],
                typeSpeed: 125,
                backSpeed: 80,
                loop: true,
                loopCount: Infinity,
                showCursor: false,
                smartBackspace: true,

            };
            typed = new Typed('.typed', options);
        }
    </script>

{% endblock script %}
