{% load static %}
{% load i18n %}

<header>
    <div class="nav-wrapper">

        <!-- Link around dots-wrapper added after tutorial video -->
        <a href="{% url 'base:home' %}">
            <div class="header-wrapper">
                <img class="header-logo" src="{% static 'images/logo.png' %}" alt="">
            </div>
        </a>

        <ul id="navigation">
            <li>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <label>
                        <select name="language" class="form-control" onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"
                                        {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                </form>
            </li>
            <li><a href="https://164.90.238.204" target="_blank">{% trans "Blog" %}</a></li>
            <li><a href="{% url 'base:home' %}#contact">{% trans "Contact" %}</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'base:create_project' %}">Add Project</a></li>
                <li><a href="{% url 'base:update_bio' %}">Update Bio</a></li>
                <li><a href="{% url 'base:logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</header>